.s_amazon{
    background-color: #000000;
}
.s_debeka{
    background-color: #019ee1;
}
.s_postbank{
    background-color: #ffcb25;
}
.s_congstar{
    background-color: #000000;
}
.s_mediamarkt {
    background-color: #df0000;
}
.s_aok {
    background-color: #319f49;
}
.s_ikea{
    background-color: #003399;
}
.s_axa{
    background-color: #26468f;
}