.show_on_hover{
    display: none;
}

.show_on_hover:hover{
    display: flex;
}
.tag_gold{
    background-color: #ffcc00;
    color: #000000;
}

.tag_gold:hover{
    color: #333333;
}

.tag_blue{
    background-color: #337ab7;
    color: #fff;
}

tag_blue:hover{
    color: #eeeeee;
}

.tag_orange{
    background-color: #ff674c;
    color: #ffffff;
}

tag_orange:hover{
    color: #eeeeee;
}