.show_on_hover{
    display: none;
}

.show_on_hover:hover{
    display: flex;
}
.tag_white{
    background-color: #ffffff;
    color: #000000;
}
.tag_black{
    color: #ffffff;
    background-color: #000000;
}
.tag_grey{
    background-color: #808080;
    color: #ffffff;
}
.tag_brown{
    background-color: #A52A2A;
    color: #ffffff;
}
.tag_red{
    background-color: #ff0000;
    color: #ffffff;
}
.tag_yellow{
    background-color: #ffff00;
    color: #000000;
}
.tag_indigo{
    background-color: #4B0082;
    color: #ffffff;
}
.tag_maroon{
    background-color: #800000;
    color: #ffffff;
}
.tag_pink{
    background-color: #ffC0CB;
}
.tag_violet{
    background-color: #ee82ee;
    color: #ffffff;
}
.tag_cyan{
    background-color: #00ffff;
    color: #000000;
}
.tag_magenta{
    background-color: #ff00ff;
    color: #ffffff;
}
.tag_purple{
    background-color: #800080;
    color: #ffffff;
}
.tag_gold{
    background-color: #ffcc00;
    color: #000000;
}

.tag_gold:hover{
    color: #333333;
}

.tag_blue{
    background-color: #337ab7;
    color: #fff;
}

tag_blue:hover{
    color: #eeeeee;
}

.tag_orange{
    background-color: #ff674c;
    color: #ffffff;
}

tag_orange:hover{
    color: #eeeeee;
}

.tag_green{
    background-color: #008000;
    color: #ffffff;
}

tag_green:hover{
    color: #eeeeee;
}

.tag_silver{
    background-color: #c0c0c0;
    color: #000;
}

tag_silver:hover{
    color: #eeeeee;
}